ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}






.generous-conteiner{
    display: flex;
    flex-direction: row-reverse;
    padding: 40px;
   height: 1300px;
}


.main-conteiner{
     
    width: 1200px;
   
  padding-right: 217px;
    background-color: rgb(198, 194, 179);
    padding-top: 102px;
padding-left: 88px;

}
.section-title__third{
    margin-bottom: 19px;
}

  .about-me__title{
    margin-bottom: 21px;
    font-family: 'Montserrat';
        font-weight: 700;
        font-size: 45px;
        line-height: 55px;
  }
  .section-title__second{
font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;

    margin-bottom: 12px;
  }
.section-title__third{
  margin-bottom: 10px;
font-size: 16px;
    line-height: 20px;
}

.section__text{
    margin-bottom: 16px;
font-size: 14px;
    line-height: 24px;
}

.about-me__text{
font-size: 14px;
    line-height: 24px;
    margin-bottom: 40px;
}

.section-progect__item{
font-size: 14px;
    line-height: 24px;
}

.section-progect__menu{
    padding-bottom: 40px;
}
/*============ aside=========*/


.aside-conteiner{
    width:370px;
    padding-top: 40px;
    color: white;
height: 1300px;

background-color: rgb(104, 88, 66);
}
.section-aside{
    padding-top: 40px;
    padding-left: 40px;
       font-size: 14px;
        line-height: 24px;
}

.photo{
    display: block;
    width: 370px;
    height: 354px;
}
.contacts{
    padding-bottom: 47px;
}

